body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ecf0f1;
 
}

.homeCenter .pro-head{
  font-size: 1.5rem;
  font-weight: 500;
}
.homeCenter h2{
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  color: #130f40;
}
.homeCenter h4{
  text-align: center;
}
.forget{
  color: #fff;
  
}
.forget:hover{
  color: #2c3e50;
  text-decoration: none;
}
form { 
  background-color: #74b9ff;
  border: 2px solid #95a5a6;
  border-radius: 5px;
  align-items: center;
  width: 470px;
  padding : 5%;
  margin : 5%;
}

.homeCenter {
  margin : 5%;
}